body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background-color: bisque;
}

#create-thread {
  margin: 1em;
  border: 1px solid black;
  margin: 0 auto;
  width: 20em;
}

.thread {
   background-color: #fccc92;
   margin: 1em 2em;
   padding: .5em;
   border: 1px solid red;
}

.thread > .time {
   color: red;
}

.split {
   display: flex;
   flex-direction: row;
}

.split > img {
   width: 100px;
   height: 100px;
   padding-right: 40px;
}

.split > pre {
   color: green;
}
