body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   background-color: bisque;
}

h1 {
   font-size: 2rem;
   color: royalblue;
   margin-left: 1rem;
}

.sub {
   margin: 1em;
   margin: 0 auto;
   width: 20em;
}

.clickme {
   font-size: 32px;
   font-weight: bold;
   color: purple;
}

.clickme:hover {
   color: red;
   cursor: pointer;
}

.thread {
   background-color: #fccc92;
   margin: 1em 2em;
   padding: 0.5em;
   border: 1px solid red;
}

.thread > .time {
   color: red;
}

.split {
   display: flex;
   flex-direction: row;
}

.split > img {
   width: 100px;
   height: 100px;
   padding-right: 40px;
}

.split > pre {
   color: green;
}

.replies {
  margin-left: 1em;
}

.reply {
  border: 1px solid red;
  padding: 1em;
  width: 40%;
}